---
- name: (bitwarden) Nginx conf is deployed
  template:
    src: "nginx_bitwarden.conf.j2"
    dest: "/srv/{{ compositional_nginx_storage }}/nginx_conf.d/{{ environment_domain }}/bitwarden.conf"
  notify: 'Restart Frontend'

- name: (bitwarden) The latest bitwarden service is built and {{ compositional_bitwarden_state }}
  docker_compose:
    project_name: bitwarden
    definition:
      version: '3.6'
      services:
          bitwarden:
              image: "mprasil/bitwarden:{{ compositional_bitwarden_version }}"
              container_name: bitwarden
              restart: always
              volumes:
                  - "/srv/{{ compositional_bitwarden_storage}}/bitwarden_data:/data/"

              networks:
                  - frontend

      networks:
          frontend:
              external: true

    build: "{{ compositional_bitwarden_build }}"
    state: "{{ compositional_bitwarden_state }}"
    restarted: "{{ compositional_bitwarden_restarted }}"
  register: compositional_bitwarden_output
