---
- name: (bitwarden) Nginx conf is deployed
  template:
    src: "nginx_bitwarden.conf.j2"
    dest: "/srv/{{ compositional_nginx_storage }}/nginx_conf.d/{{ environment_domain }}/bitwarden.conf"
  notify: 'Restart Frontend'

- name: (bitwarden) The latest bitwarden service is built and {{ compositional_bitwarden_state }}
  docker_compose:
    project_name: bitwarden
    definition:
      version: '3.6'
      services:
          bitwarden:
              image: "bitwardenrs/server:{{ compositional_bitwarden_version }}"
              container_name: bitwarden
              restart: always
              volumes:
                  - "/srv/{{ compositional_bitwarden_storage}}/bitwarden_data:/data/"

              networks:
                  - frontend

      networks:
          frontend:
              external: true

    build: "{{ compositional_bitwarden_build }}"
    state: "{{ compositional_bitwarden_state }}"
    restarted: "{{ compositional_bitwarden_restarted }}"
  register: compositional_bitwarden_output

#
# Bind Mountpoints
#

- name: (bitwarden) Find source filesystem directory
  shell: for i in $(docker inspect --format {% raw %}{{.GraphDriver.Data.LowerDir}}{% endraw %} bitwarden | tr ':' ' '); do if [[ -d ${i}{{ item['directory'] }} ]]; then echo ${i}; fi; done
  args:
    shell: /bin/bash
  loop: "{{ compositional_bitwarden_bind_mountpoints }}"
  when: not item['directory'].startswith('/srv')
  register: compositional_bitwarden_src_dirs

- debug:
    var: compositional_bitwarden_src_dirs

- name: (bitwarden) Register bitwarden non-volume bind-mountpoints for proxy
  set_fact:
    compositional_proxy_bind_mountpoints: "{{ compositional_proxy_bind_mountpoints + [{'location': item['item']['location'], 'directory': item['stdout'] + item['item']['directory']}] }}"
  when: not item['item']['directory'].startswith('/srv')
  loop: "{{ compositional_bitwarden_src_dirs['results'] }}"


- name: (bitwarden) Register bitwarden volume bind-mountpoints for proxy
  set_fact:
    compositional_proxy_bind_mountpoints: "{{ compositional_proxy_bind_mountpoints + [item] }}"
  when: item['directory'].startswith('/srv')
  loop: "{{ compositional_bitwarden_bind_mountpoints }}"
