---
- name: (firefly) Nginx conf is deployed
  template:
    src: "nginx_firefly.conf.j2"
    dest: "/var/lib/docker/volumes/nginx_conf.d/_data/{{ environment_domain }}/firefly.conf"
  notify: 'Restart Frontend'

- name: (firefly) The database service is up and initialized
  # We're running a while loop to check to ensure that the mysql database has
  # initialized:
  #   https://stackoverflow.com/questions/25503412/how-do-i-know-when-my-docker-mysql-container-is-up-and-mysql-is-ready-for-taking
  shell: 'docker exec -i {{ compositional_backend_output.ansible_facts.keys() | list | first }} bash -c "while mysql -uroot -p{{ compositional_mysql_root_password }} -e \"SHOW DATABASES;\" 2>&1 | grep -e \"ERROR 2002\|ERROR 1045\"; do sleep 1; done; echo \"SHOW DATABASES SUCCEEDED!!!\""'

- name: (firefly) Set up the MySQL database
  # We have to use `.keys() | list | first` to get the name of the container. If we
  # wanted to, we should probably walk down the data structure to get the
  # actual name, but since for the time being we name the name of the service
  # the same as the container, it's not really going to affect us now, as
  # long as we stick to that paradigm.
  shell: docker exec -i {{ compositional_backend_output.ansible_facts.keys() | list | first }} mysql -uroot -p{{ compositional_mysql_root_password }} <<< "{{ compositional_firefly_mysql_script }}"
  args:
    executable: '/bin/bash'

- name: (firefly) The latest firefly service is built and {{ compositional_firefly_state }}
  docker_service:
    project_name: firefly
    definition:
      version: '3.6'
      services:
        firefly:
          image: jc5x/firefly-iii:latest
          container_name: firefly
          restart: always
          volumes:
            - export:/var/www/firefly-iii/storage/export
            - upload:/var/www/firefly-iii/storage/upload

          networks:
            - frontend
            - backend

          environment:
            APP_URL: "https://{{ environment_domain }}"
            FF_APP_KEY: "{{ compositional_firefly_app_key }}"
            FF_APP_ENV: "local"
            FF_DB_HOST: "{{ compositional_backend_output.ansible_facts.keys() | list | first }}"
            FF_DB_NAME: 'firefly'
            FF_DB_USER: 'firefly'
            FF_DB_PASSWORD: "{{ compositional_firefly_backend_password }}"
            FF_DB_CONNECTION: 'mysql'
            MYSQL_PASSWORD: "{{ compositional_firefly_backend_password }}"
            TRUSTED_PROXIES: "**"

      volumes:
        export:
        upload:

      networks:
        frontend:
          external: true

        backend:
          external: true

    build: "{{ compositional_firefly_build }}"
    state: "{{ compositional_firefly_state }}"
  register: compositional_firefly_output

- name: (firefly) Symlink blog directory
  shell: docker exec -i firefly bash -c "ln -sT /var/www/firefly-iii/public/ /var/www/firefly-iii/public/firefly"
  when: compositional_firefly_output.changed
