---
# tasks file for role-compositional

- name: Ensure that the local and remote directories are configured
  file:
    path: "/srv/{{ item }}"
    recurse: yes
    state: directory
  loop:
    - 'local'
    - 'remote'

- include_tasks: "./{{ item }}.yml"
  with_items:
    - "{{ compositional_frontend_service }}"
    - "{{ compositional_backend_service }}"
    - "{{ compositional_identity_service }}"

- include_tasks: "./{{ item }}.yml"
  with_items: "{{ compositional_services }}"
