---
- name: (manager) Nginx conf is deployed
  template:
    src: "nginx_manager.conf.j2"
    dest: "/var/lib/docker/volumes/nginx_conf.d/_data/{{ environment_domain }}/manager.conf"
  notify: 'Restart Frontend'

- name: (manager) The latest manager service is built and {{ compositional_manager_state }}
  docker_service:
    project_name: manager
    definition:
      version: '3.6'
      services:
          manager:
              image: "smacz/manager:{{ compositional_manager_version }}"
              container_name: manager
              restart: always
              volumes:
                  - data:/var/data
              networks:
                  - frontend
              environment:
                MANAGER_SERVER_PORT: "{{ compositional_manager_port }}"
                MANAGER_SERVER_DATA_PATH: "{{ compositional_manager_data_path }}"
      volumes:
          data:
      networks:
          frontend:
              external: true
    build: "{{ compositional_manager_build }}"
    state: "{{ compositional_manager_state }}"
  register: compositional_manager_output
