---
- name: (nginx) The latest nginx service is built and present
  docker_compose:
    project_name: nginx
    definition:
      version: '3.6'
      services:
          nginx:
              image: 'nginx:{{ compositional_nginx_version }}'
              container_name: proxy
              restart: always
              ports:
                  - "80:80"
                  - "443:443"
              volumes:
                  - "/srv/{{ compositional_nginx_storage }}/nginx_conf.d:/etc/nginx/conf.d"
                  - "/srv/{{ compositional_nginx_storage }}/nginx_html:/usr/share/nginx/html"
                  - "{{ compositional_nginx_cert_volume }}"
              networks:
                  - frontend
      networks:
          frontend:
              name: frontend
    build: "{{ compositional_nginx_build }}"
    state: "{{ compositional_nginx_state }}"
    restarted: "{{ compositional_nginx_restarted }}"
  register: frontend_output

- name: (nginx) Check for domain redirects' certs
  stat:
    path: "{{ compositional_nginx_cert_volume }}/{{ item['cert'] }}"
  loop: "{{ compositional_domain_redirects }}"
  register: compositional_domain_redirects_certs_stat

- name: (nginx) Add certs key-value to domain redirects certs dict
  set_fact:
    compositional_nginx_domain_redirects_certs: "{{ compositional_nginx_domain_redirects_certs | combine({item['item']['domain']: item['stat']['exists']}) }}"
  loop: "{{ compositional_domain_redirects_certs_stat['results'] }}"

- name: (nginx) Nginx default.conf is deployed
  template:
    src: nginx_default.conf.j2
    dest: "/srv/{{ compositional_nginx_storage }}/nginx_conf.d/default.conf"
  notify: 'Restart Frontend'

- name: (nginx) Nginx index.html is deployed
  template:
    src: nginx_index.html.j2
    dest: "/srv/{{ compositional_nginx_storage }}/nginx_html/index.html"
  notify: 'Restart Frontend'

- name: (nginx) Services directory is created
  file:
    path: "/srv/{{ compositional_nginx_storage }}/nginx_conf.d/{{ environment_domain }}"
    state: directory

- name: (nginx) Set Frontend Type
  set_fact:
    compositional_frontend_type: 'nginx'
