{% for bind_mountpoint in compositional_rundeck_bind_mountpoints %}
location {{ bind_mountpoint['location'] }} {
    access_log /var/log/nginx/rundeck_{{ bind_mountpoint['location'] | split('/') | last }}_access.log
}
{% endfor %}

location /rundeck/ {
    access_log /var/log/nginx/rundeck_main_access.log
    proxy_headers_hash_max_size 512;
    proxy_headers_hash_bucket_size 64;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header User-Agent $http_user_agent;
    add_header Front-End-Https on;
    proxy_pass http://rundeck:4440/rundeck/;
}
