server {
    listen       80;
    server_name  "{{ environment_domain }}";

    #
    # Hardening
    #
    server_tokens off;
    add_header Referrer-Policy "no-referrer";
    add_header X-FRAME-Options "SAMEORIGIN" always;
    add_header X-XSS-Protection "1; mode=block" always;
    add_header X-Content-Type-Options "nosniff" always;
    add_header Content-Security-Policy "default-src 'none'; script-src 'self'; connect-src 'self'; img-src 'self'; style-src 'self';" always;
    add_header Strict-Transport-Security "max-age=63072000" always;

    #
    # Redirect _all_ HTTP traffic to HTTPS
    #
    return 301 https://$host$request_uri;
}

server {
    listen       443 ssl;
    server_name  "{{ environment_domain }}";

    # IDK what this does
    underscores_in_headers on;

    #
    # Hardening
    #
    server_tokens off;
    add_header Referrer-Policy "no-referrer";
    add_header X-FRAME-Options "SAMEORIGIN" always;
    add_header X-XSS-Protection "1; mode=block" always;
    add_header X-Content-Type-Options "nosniff" always;
    add_header Content-Security-Policy "default-src 'none'; script-src 'self'; connect-src 'self'; img-src 'self'; style-src 'self';" always;
    add_header Strict-Transport-Security "max-age=63072000" always;

    #
    # Set SSL/TLS options
    #
    ssl_certificate {{ compositional_nginx_cert_fullchain }};
    ssl_certificate_key {{ compositional_nginx_cert_privkey }};
    ssl_stapling on;
    ssl_stapling_verify on;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_session_timeout 1d;
    ssl_session_cache shared:SSL:10m;
    # Only use safe chiphers
    ssl_prefer_server_ciphers on;
    ssl_ciphers 'ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384';
    ssl_ecdh_curve X25519:secp384r1;

    #
    # Allow large uploads
    #
    client_body_in_file_only clean;
    client_body_buffer_size 32k;
    client_max_body_size 400M;
    sendfile on;
    send_timeout 600s;

    #
    # Include all of the locations for this domain
    #
    include /etc/nginx/conf.d/{{ environment_domain }}/*.conf;

    #
    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504 /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

    root /usr/share/nginx/html;
    #
    # Direct {{ environment_domain }}/ without any indicator to the portal webapp
    #
    location = / {
        return 301 https://$host/{{ compositional_webroot_redirect }}{% if '.' not in compositional_webroot_redirect %}/{% endif %};
    }
}

{% for domain_redirect in compositional_domain_redirects %}
server {
    listen       80;
    server_name  "{{ domain_redirect['domain'] }}";
    #
    # Hardening
    #
    server_tokens off;
    add_header Referrer-Policy "no-referrer";
    add_header X-FRAME-Options "SAMEORIGIN" always;
    add_header X-XSS-Protection "1; mode=block" always;
    add_header X-Content-Type-Options "nosniff" always;
    add_header Content-Security-Policy "default-src 'none'; script-src 'self'; connect-src 'self'; img-src 'self'; style-src 'self';" always;
    add_header Strict-Transport-Security "max-age=63072000" always;
{% if compositional_nginx_domain_redirects_certs[domain_redirect['domain']] %}
    #
    # Redirect _all_ HTTP traffic to HTTPS
    #
    return 301 https://$host$request_uri;
}

server {
    listen       443 ssl;
    server_name  "{{ domain_redirect['domain'] }}";

    #
    # Hardening
    #
    server_tokens off;
    add_header Referrer-Policy "no-referrer";
    add_header X-FRAME-Options "SAMEORIGIN" always;
    add_header X-XSS-Protection "1; mode=block" always;
    add_header X-Content-Type-Options "nosniff" always;
    add_header Content-Security-Policy "default-src 'none'; script-src 'self'; connect-src 'self'; img-src 'self'; style-src 'self';" always;
    add_header Strict-Transport-Security "max-age=63072000" always;

    # IDK what this does
    underscores_in_headers on;

    #
    # Set SSL/TLS options
    #
    ssl_certificate {{ compositional_nginx_cert_volume.split(':')[1] }}/{{ domain_redirect['cert'] }};
    ssl_certificate_key {{ compositional_nginx_cert_volume.split(':')[1] }}/{{ domain_redirect['key'] }};
    ssl_stapling on;
    ssl_stapling_verify on;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_session_timeout 1d;
    ssl_session_cache shared:SSL:10m;
    # Only use safe chiphers
    ssl_prefer_server_ciphers on;
    ssl_ciphers 'ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384';
    ssl_ecdh_curve X25519:secp384r1;

    #
    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504 /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
{% endif %}
    #
    # Redirect traffic to specified redirect location
    #
    return 301 {{ domain_redirect['redirect'] }};
}
{% endfor %}
